.background {
    background: linear-gradient(285deg, #9ca3af, #7c3aed66, #7c3aed81, #a1a1aa, #4e46e58d, #9ca3af, #7c3aed81);
    background-size: 800% 800%;

    -webkit-animation: Background 20s ease infinite;
    -moz-animation: Background 20s ease infinite;
    animation: Background 20s ease infinite;
}

@-webkit-keyframes Background {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@-moz-keyframes Background {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@keyframes Background {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}
